---
layout: splash
author_profile: true

excerpt: "This post should display a **header with an overlay image**, if the theme supports it."

header:
  overlay_image: shannon-photo-2.jpg
  overlay_filter: rgba(155, 155, 155, 0.3)
  cta_label: "About Me"
  cta_url: "/about/"


feature_row:
  - image_path: unsplash-gallery-image-1-th.jpg
    alt: "Photo of an AR.Drone Parrot"
    title: "Bird's Eye View"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "Screenshot of the app"
    title: "MyOffCampus"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/projects/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."


---

{% include base_path %}

{% include feature_row %}


