---
layout: splash
excerpt: "Freshly minted UofSC Honors graduate with an interest in robotics, web design, and powerlifting."

header:
  overlay_image: shannon-photo-2.jpg
  overlay_filter: rgba(155, 155, 155, 0.3)
  cta_label: "About Me"
  cta_url: "/about/"


feature_row:
  - image_path: bio-photo.jpg
    alt: "Photo of an AR.Drone Parrot"
    title: "Bird's Eye View"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/projects/"
    btn_label: "Read More"
    btn_class: "btn"
  - image_path: myoffcampus-1.png
    alt: "Screenshot of the app"
    title: "MyOffCampus"
    excerpt: "This **app** allows students to rate and review landlords and properties, search for somewhere they are thinking about living, or save a landlord or location they are interested in for later ."
    url: "/projects/"
    btn_label: "Read More"
    btn_class: "btn"
  - image_path: bio-photo.jpg
    title: "Simple C Compiler"
    excerpt: "A compiler for basic C code written in **C**, **flex**, and **bison**. This compiler is capable of processing global variable declarations, function definitions and expression statements, and control statements."
    url: "/projects/"
    btn_label: "Read More"
    btn_class: "btn"


---
{% include feature_row %}

{% include base_path %}



